*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;

}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

/*link*/

/*<link rel="preconnect" href="https://fonts.gstatic.com">*/
/*<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">*/



/***************/
/*header css*/
/***************/

header{
	width: 100%;
	background-color: #000;
	padding: 10px 0px;


}
.nav-link{
	color: #848484 !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;


}
.nav-link:hover{
	color:#fff !important;
}

/*banner section*/
.banner{
	width: 100%;
	background-image: url('../img/banner.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}
.banner-text{
	height: 90vh;
	display: table-cell;
	vertical-align: middle;
}
.banner-text h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 36px;
	margin: 25px 0px;
	color: #c8c7c7;
	width: 75%;

}
.banner-text p{
font-family: 'Raleway', sans-serif;
font-weight: 300;
color: #848484;
margin: 24px 0px;
width: 65%;
}
.banner-text .line{
height: 2px;
width: 80px;
background-color: #fff;
margin-bottom: 

}

.banner-text button{
	padding: 12px 25px;
	background-color: transparent;
	border: 1px solid white;
	color: white;
	font-family: 'Open Sans', sans-serif;

}
.banner-text button:hover{
	background-color: white;
	color: black;

}

.banner-form{
	height: 90vh;
	display: table-cell;
	vertical-align: middle;

}
.banner-form .card{
	border: none;
}
.banner-form .card-header h2{

	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-align: center;


}
.banner-form .card-header h2 span{
color: #ff9b51;
}

.banner-form .card-body{
	padding: 2rem !important;
}
.banner-form .card-header{
	padding: 1rem 1rem;

}

.banner-form .card-body input{
	width: 100%;
	margin: 15px 0px;
	border: none;
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
	padding-left: 8px;

}
.banner-form .card-body input:focus{
	outline: none;

} 
.banner-form .card-body input::placeholder{
	color: #cccccc;
}

.banner-form .card-footer{
	padding: 0px;
}

.banner-form .card-footer input{
	width: 100%;
	height: 60px;
	background-color: #ff9b51;
	border: none;
	color: white;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}
.socialmedia{
	width: 100%;
	box-shadow: 0px 6px 6px 6px #cccccc;

}
.icon-text{
	padding: 30px 0px;
}

.socialmedia .icon-text h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #333333;
  font-size: 20px;
}

.socialmedia .icon-text p{ 
    width: 75%;
	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #848484;

}
.icon{
	width: 100%;
	padding:30px 0px;

}
.icon ul li{
	list-style: none;
	display:inline-block;
	color: #cccccc;
	margin-left: 50px;
	padding-top:10px;
	font-size:40px; 


}
.icon ul li a{
	color: #cccccc;
}

/***************
service css
***************/
.service{
	width: 100%;
	padding:70px 0px;
	background-color: #f5f5f5;
}
.service ul li{
	list-style: none;
	width: 100px;
	height: 94px;
	background-color: #ff8b38;
	text-align: center;
	margin-bottom: 3px;
	line-height: 80px;
}
	

.service ul li a{
	color: white;

}
.tab-1{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.tab-3{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color:#333333 !important;
}

.tab-2{
background-color:#333333 !important;

}
.service h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 20px;
}
.service p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	width: 86%;
	color: #848484;
	margin: 32px 0px;
}
.service button{
	padding: 12px 25px;
	background-color:#ff8b38;
	border: 1px solid white;
	color: white;
	font-family: 'Open Sans', sans-serif;


}
.sub-list{
	width: 100%;
	padding: 80px 0px;

}
.sub-list-text h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400px;
	font-size: 24px;
}
.sub-list-text .line{
	height: 2px;
	width: 80px;
	background-color: #ff8b38;
	margin: 20px 0px;
}



.sub-list-text p{
	    width: 87%;
}

.image{
	display: flex;
	margin-left: -33px;
}
.
.image .detail h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700px;
}
.image .detail p{
	font-family: 'Open Sans', sans-serif;

}
.picture-1 ul li{
	list-style: none;
	padding-right: 20px;

}
.picture-1 ul li a i{
	color:  #ff8b38;
	border: 2px solid #ff8b38;
	background-color: transparent;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height:40px;
	border-radius: 100%;
	


}
.picture-1 ul li a i:hover{
	border: 2px solid black;
	transform: scale(1.3);
	transition: 0.5s;
}


.standard{
	width: 100%;
	background-color: #f5f5f5;
	padding: 80px 0px;
}

.standard-text h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400px;
	font-size: 20px;

}
.standard-text p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300px;
	font-size: 14px;
	width: 74%;
	color: #848484;


}
.standard-text .line{
	height: 2px;
	width: 80px;
    background-color: #ff8b38;
	margin: 20px 0px;
}


.awesome{
	width: 100%;
	padding: 80px 0px;

}

.awesome-text{
	text-align: center;
	padding: 40px 0px;
}

.awesome-text h2{
	    margin-bottom: 1.5rem;
	    font-family: 'Raleway', sans-serif;
	    font-weight: 400;
	    font-size: 36px;

}

.awesome-text .line{
    height: 2px;
	width: 50px;
    background-color: #ff8b38;
	margin: auto;
}
.awesome-text p{
	margin-top: 20px;
	font-family: 'Open Sans', sans-serif;
	    font-weight: 400;
	    font-size: 14px;
	    color: #848484;

}

.awesome ul li{
	list-style: none;

}

.awesome ul li a i{
	color:  #ff8b38;
	border: 2px solid #ff8b38;
	background-color: transparent;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height:50px;
	border-radius: 100%;
	font-size: 32px;

}
.awesome ul li a i:hover{
	border: 2px solid black;
	transform: scale(1.3);
	transition: 0.5s;
}


.awesome h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400px;
	font-size: 20px;
}
.awesome p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300px;
	font-size: 14px;
	
	color: #848484;
}
.pricing{
	width: 100%;
	background-color: #f5f5f5;
	text-align: center;
	padding: 60px 0px;

}
.content-text .line{
	width: 50px;
	background-color: #ff8b38;
	height: 2px;
	margin: 15px auto;

}
.content-text{
	text-align: center;
}


.content-text h3{
text-transform: uppercase;
font-family: 'Raleway', sans-serif;
font-size: 36px; 
font-weight: 300px;

}
.content-text p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #848484;
}

.table-1{
	margin: 0px 20px;
}

.table-1 .price-cat, .table-1 .price-body{
	background-color: #333333;
	
}
.table-1 .price-list{
	background-color: white;


}

.price-body-list{
	margin-top: 60px;
}

.table-1 .price-cat{
		
		padding: 10px;
		border: solid white 1px;
}
.table-1 .price-cat p{
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700px;
	font-size: 20px;

}
.table-1 .price-body{
	padding: 20px 0px;
	border-bottom: 5px solid #ff8b38;

}

.table-1 .price-body h1{
	color: white;
	font-family: 'Raleway', sans-serif;
    font-size: 36px; 
    font-weight: 700px;

}

.table-1 .price-body span{
	font-family: 'Open Sans', sans-serif;
	font-size: 80px; 

}
.table-1 .price-body p{
	color: #848484;
	font-style: italic;
	font-family: 'Open Sans', sans-serif;

}

.table-1 .price-list ul{
	padding: 0px;
	text-transform: uppercase;
	color: #848484;
}

.table-1 .price-list ul li{
	list-style: none;
	border-bottom: solid #f5f5f5 1px;
	padding: 10px 0px;

}
.middle .price-body{
	border: 0px;
	padding: 0px;

}
.special{
	padding: 20px 0px;
}
.price-body .special span {
	font-family: 'Open Sans', sans-serif;
	font-size: 80px; 
}

.special p{
	font-family: 'Open Sans', sans-serif;
	font-size: 600px;
	font-size: 14px;

}

.popular{
	background-color: #ff8b38;
	padding: 10px 0px;

}
.popular p{
	font-family: 'Open Sans', sans-serif;
	font-size: 600px;
	font-size: 14px;
	font-style: normal !important;
	color: white !important;

}
.pricing .row{
	align-items: flex-end;

}


/**************
testimonial
***************/
.testimonial{
	width: 100%;
	padding: 60px 0px;
	text-align: center;
}
.message{
	margin: 0px 20px;
	padding: 20px;
	text-align: left;
	background-color: #f5f5f5;
	position: relative;

}

.customer-reviw p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #848484;
     width:72%;
     font-style: italic;
     border-radius: 5px;
}
.message .corner{

	height: 50px;
	width: 50px;
	background-color: #f5f5f5;
	position: absolute;
	bottom: -20px;
	left: 30px;
	transform: rotate(45deg);

}
.user{
	margin-top: 30px;
}
.user .col-md-4{
   padding-right: 0px;
}

.user .col-md-8{
   text-align: left;
   padding-left: 0px;


}
.design{
	width: 100%;
	padding: 60px 0px;
	background-image: url('../img/banner-two.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 50vh;
}

.design h3{
	color: white;
}

.design .content-text button{
	padding: 12px 25px;
	background-color: transparent;
	border: 2px solid white;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;

}
.design .content-text .line{
	background-color: white;
}

.contact-form{
	width: 100%;
	padding: 80px 0px;
}
.contact-form input{
	font-family: 'Open Sans', sans-serif;
    width: 95%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 15px;

}
textarea {
    font-family: 'Open Sans', sans-serif;
    width: 95%;
    color: #cecece;
    resize: none;
    border: none;
    border-bottom: 1px solid #ccc;
    height: 164px;
    padding: 25px;
}

.contact-form button{
	padding: 12px 25px;
	background-color: #ff9b51;
	border: 2px solid white;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	border-radius: 5px;
	margin: 3% 42%;


}
.footer{
	width: 100%;
	padding: 60px 0px;
	background-color: black;
}

.footer ul li{
	list-style: none;
	display: inline-block;


}
.footer ul li a{
	color: #cccccc;
	font-size: 24px;

}

.footer ul li a:hover{
	border: 2px solid red;
	transform: scale(1.3);
	transition: 0.5s;
}
.footer .icon{
	padding-left: 25%;
}

.footer p{
	color: #cccccc;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 14px;

}
